# Logs
logs
*.log
npm-debug.log*

# Dependency directoriesa
./前端安全系列/demo/node_modules
jspm_packages

**/node_modules/*

# Optional npm cache directory
.npm

.DS_Store
/dist/
Webpack/webpack-01/node_modules/*
Vue/*/node_modules/*